body, html {
	background: white;
	color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#mithril-target {
	height: 100%;
	margin: 0 auto;
}
.loading {
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100%;
}

// Fixes what looks like a bug in mdc
.mdc-select--box {
	margin-top: 16px;
}

.orange {
    color: #aa4 !important;
}
.red {
    color: red !important;
}
.green {
    color: green !important;
}
