// Fixes firefox focus ring
// TODO: @-moz-document url-prefix() {
.mdc-select,
select,
select:-moz-focusring,
select::-moz-focus-inner {
    color: transparent !important;
    text-shadow: 0 0 0 #000 !important;
    background-image: none !important;
    border:0;
}

// Fixes list items not getting the minimal height
.mdc-list-item {
    height: 48pt;
    align-items: center;
}

// Fixes select's 'required' marker looking like for text-field's
.mdc-select--required .mdc-floating-label::after {
    margin-left: 3px;
    content: "*";
}

// Fixes focused floating label color not taking custom theme's colors
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label
{
    color: var(--mdc-theme-secondary) !important;
}

// fix: selects with helper line received no margin
.mdc-select + .mdc-text-field-helper-text {
    margin-bottom: 12px;
}
