.chooser {
}
.chooser .chooser__question {
	font-size: 110%;
	font-weight: bold;
	color: #234;
	margin-bottom: 16px;
}
.chooser .chooser__question .fa-asterisk {
	font-size: 80%;
	vertical-align: super;
	margin: 5px;
}
.chooser .chooser__options {
	display: flex;
	align-items: stretch;
}
.chooser .chooser__option.chooser__option--selected {
	border: 3pt solid #cdca;
	background: #cdc2;
}
.chooser .chooser__option {
	border: 3pt solid #cdc5;
	border-radius: 10px;
	padding: 10px;
}
.chooser .chooser__option:hover {
	border: 3pt solid #cdcf;
}
.chooser .chooser__description {
	color: red;
}



