#mithril-target
    background: #f2f2f2

.opendata .mdc-top-app-bar__title
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    h1
        font-size: 1.5rem
        font-weight: 500
        color: rgba(0, 0, 0, 0.90)
        display: flex
        align-items: center
    .cuca
        height: 30px
        margin-right: 1rem
    .seedocs
        font-size: 1rem

.opendata__controls
    padding: 2rem
    margin-bottom: 1rem
    .opendata__choose
        margin-bottom: 0.75rem
    .mdc-layout-grid__inner
        margin-bottom: 0.5rem    
    h2
        margin: 0
        margin-bottom: 0.75rem

.opendata-checkbox-helper-text
    margin: 0 12px
    color: rgba(0,0,0,0.9)
    font-size: 0.75rem
    border-top: rgba(0,0,0,0.42) 1px solid

.mcd-button
    text-align: center

.opendata__results
    padding: 2rem
    margin: 0 auto
    margin-right: 2rem
    min-width: 100%
    table
        display: block
        height: 50%

.mdc-tab-bar
    margin-bottom: 1rem

.map-view
    
    svg
        height: 100%
        width: 100%

    img
        margin: 0 auto

.text-uri-out
    display: none

.text-uri-in
    border-radius: 5px
    animation: appearing-text 2s infinite
    animation-direction: alternate

.gif-view
	img
		width: 100%
		height: auto

@keyframes appearing-text
    0%
        background-color: inherit
    100%
        background-color: #cddc39
