.pageslider {
	overflow-x: hidden;
	//overflow-y: auto;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	transition-property: height;
	transition-duration: 0.1s;
}
.pageslider-page {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	transition: transform, opacity;
	transition-duration: 0.5s;
}
.pageslider-page.active {
	opacity: 1;
	transition-timing-function: ease-in-out, ease-in-out, step-end;
}
.pageslider-page.back {
	opacity: 0;
	transform: translate(-100%,0);
}
.pageslider-page.next {
	opacity: 0;
	transform: translate(100%,0);
}

.pageslider-page.back.showall,
.pageslider-page.next.showall
{
	opacity: 0.6;
	transform: none;
	position: relative;
	border-left: 4px solid #fff0;
}

.pageslider-page.active.showall
{
	opacity: 1;
	transform: none;
	position: relative;
	border-left: 4px solid var(--mdc-theme-primary);
	background-color: #efd;
}



