body, html {
	background: white;
	color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

* {
	--mdc-theme-primary: #6a1;
	--mdc-theme-on-primary: white;
	--mdc-theme-text-primary-on-background: #6a1;
	--mdc-theme-text-primary-on-dark: #6a1;
}

#mithril-target {
	height: 100%;
	margin: 0 auto;
}
.loading {
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100%;
}

.mdc-tab-bar .mdc-tab--active,
.mdc-tab-bar .mdc-tab:hover
{
	color: var(--mdc-theme-primary);
	background-color: var(--mdc-theme-on-primary);
}

.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-floating-label,
.mdc-text-field--focused:not(.mdc-text-field--disabled) label.mdc-floating-label
{
	color: var(--mdc-theme-primary) !important;
}

// Fixes what looks like a bug in mdc
.mdc-select--box {
	margin-top: 16px;
}

// Fixing firefox focus ring
@-moz-document url-prefix() {
    select, select:-moz-focusring, select::-moz-focus-inner {
       color: transparent !important;
       text-shadow: 0 0 0 #000 !important;
       background-image: none !important;
       border:0;
    }
}

.orange {
    color: #aa4 !important;
}
.red {
    color: red !important;
}
.green {
    color: green !important;
}


