body, html {
	background: white;
	color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

#mithril-target {
	height: 100%;
	margin: 0 auto;
}
.loading {
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 0;
	bottom: 0;
	height: 100%;
}
.hidden {
	display: none;
}

// Theming
* {
	--mdc-theme-primary: #6a1;
	--mdc-theme-on-primary: white;
	--mdc-theme-text-primary-on-background: #6a1;
	--mdc-theme-text-primary-on-dark: white;
	--mdc-theme-primary: #280;
	--mdc-theme-on-primary: white;
	--mdc-theme-text-primary-on-background: #280;
}
// Fixes focused floating label color not taking custom theme's colors
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-floating-label,
.mdc-text-field--focused:not(.mdc-text-field--disabled) label.mdc-floating-label,
.mdc-text-field--focused:not(.mdc-text-field--disabled) input::placeholder
{
	color: var(--mdc-theme-primary) !important;
}

// Fixes margin in boxed selects like in boxed text-fields
.mdc-text-field {
	margin-top: 0px !important;
}
.mdc-select--box {
	margin-top: 0px !important;
}

// Fixes select's helper-text looking like text-field's
.mdc-select:not(.mdc-select--disabled) + .mdc-text-field-helper-text {
    color: rgba(0, 0, 0, 0.6);
}
.mdc-select--box + .mdc-text-field-helper-text,
.mdc-select--outlined + .mdc-text-field-helper-text {
    margin-right: 16px;
    margin-left: 16px;
}
.mdc-select + .mdc-text-field-helper-text {
    margin-bottom: 8px;
}

// Fixes select's 'required' marker looking like for text-field's
.mdc-select__native-control:required + .mdc-floating-label::after {
    margin-left: 3px;
    content: "*";
}

// Fixes firefox focus ring
@-moz-document url-prefix() {
    .mdc-select, select, select:-moz-focusring, select::-moz-focus-inner {
       color: transparent !important;
       text-shadow: 0 0 0 #000 !important;
       background-image: none !important;
       border:0;
    }
}

// Tab panels
[role="tabpanel"][aria-hidden='true'] {
    display: none;
}

// Still seeing the current tab in showall mode
[role="tabpanel"][aria-hidden='false']:not(.active) {
    opacity: .5;
}

// Debugging aid
.inspector:hover,
.inspector.shown {
    background-color: #eef;
    width: 20em;
    opacity: .7;
}
.inspector pre {
    position: absolute;
    bottom: 4ex;
    padding: 1ex;
    background-color: #fafaff;
}
.inspector {
    z-index: 1000;
    background-color: #fafaaa;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .1;
    color: #002;
    width: 1px;
    overflow: visible;
    margin: 5px;
    vertical-align: bottom;
    transition: width 1s, opacity 1s;
}

.orange {
    color: #aa4 !important;
}
.red {
    color: red !important;
}
.green {
    color: green !important;
}


