body, html {
	font-family: Roboto, sans-serif;
	color: black;
	position: absolute;
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: rgba(204,221,204,0.133);
}

.changeownership {
	padding: 0;
	font-size: 16px;
}


#mithril-target {
	height: 100%;
	margin: 0 auto;
	line-height: 1.3;
}

.steps .mdc-dialog .mdc-dialog__surface {
	max-height: calc(100vh - 120px);
}

.mdc-dialog.mdc-dialog--open {
    z-index: 50;
}

.loading {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	vertical-align: middle;
	position: relative;
	top: 30%;
	bottom: 0;
}

.hidden {
	display: none;
}

// Theming
:root {
	--mdc-theme-primary: #cddc39;
	--mdc-theme-on-primary: #000000;
	--mdc-theme-secondary: #707a1a;
	--mdc-theme-error: #d93025;
	--mdc-theme-on-error: #fce8e6;
}

.main {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	position: relative;
}

.main .mdc-top-app-bar {
	background: #ffffff;
	color: #3C4043;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 64px;
	padding: 0 16px;
	-webkit-font-smoothing: antialiased;
	z-index: 99;
}

.main a, .main a:visited {
	color: var(--mdc-theme-secondary);
	text-decoration: none;
	font-weight: bold;
}

// Fixes focused floating label color not taking custom theme's colors
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control:focus ~ .mdc-floating-label,
.mdc-text-field--focused:not(.mdc-text-field--disabled) label.mdc-floating-label,
.mdc-text-field--focused:not(.mdc-text-field--disabled) input::placeholder,
.mdc-select:not(.mdc-select--disabled).mdc-select--focused .mdc-floating-label
{
	color: var(--mdc-theme-secondary) !important;
}

.mdc-text-field.mdc-text-field--box.mdc-text-field--outlined.mdc-text-field--invalid {
	background-color: var(--mdc-theme-on-error);
}

.mdc-text-field.mdc-text-field--box.mdc-text-field--outlined.mdc-text-field--invalid.mdc-text-field--focused {
	background-color: transparent;
}


.main .mdc-select--focused .mdc-select__dropdown-icon {
  background: url("data:image/svg+xml,%3Csvg%20width%3D%2210px%22%20height%3D%225px%22%20viewBox%3D%227%2010%2010%205%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3Cpolygon%20id%3D%22Shape%22%20stroke%3D%22none%22%20fill%3D%22%23aec122%22%20fill-rule%3D%22evenodd%22%20opacity%3D%221%22%20points%3D%227%2010%2012%2015%2017%2010%22%3E%3C%2Fpolygon%3E%0A%3C%2Fsvg%3E") no-repeat center;
}

// Fixes select's helper-text looking like text-field's
.mdc-select:not(.mdc-select--disabled) .mdc-select__native-control ~ .mdc-floating-label,
.mdc-select:not(.mdc-select--disabled) + .mdc-text-field-helper-text {
    color: rgba(0, 0, 0, 0.9);
}

.mdc-select + .mdc-text-field-helper-text {
    margin-right: 12px;
    margin-left: 12px;
}

.mdc-select + .mdc-text-field-helper-text {
    margin-bottom: 8px;
}

.mdc-text-field + .mdc-text-field-helper-text {
    margin-bottom: 8px;
}

.mdc-text-field-helper-text
	&.mdc-text-field-helper-text--validation-msg
		color: var(--mdc-theme-on-error)

.cups_page
	.mdc-layout-grid__cell--span-6
		.mdc-text-field-helper-text
			margin-bottom: 15px

.main .mdc-top-app-bar {
  background-color: white;
  color: var(--mdc-theme-primary);
}

// Fixes select's 'required' marker looking like for text-field's
.mdc-select__native-control:required + .mdc-floating-label::after {
    margin-left: 3px;
    content: "*";
}

// Fixes firefox focus ring
// TODO: @-moz-document url-prefix() {
.mdc-select, select, select:-moz-focusring, select::-moz-focus-inner {
   color: transparent !important;
   text-shadow: 0 0 0 #000 !important;
   background-image: none !important;
   border:0;
}

// Tab panels
[role="tabpanel"][aria-hidden='true'] {
    display: none;
}

// Still seeing the current tab in showall mode
[role="tabpanel"][aria-hidden='false']:not(.active) {
    opacity: .5;
}

// Fix: Default "font awesome" icon size overrides tab one
.mdc-tab__icon.fa,
.mdc-select__icon.fa,
{
    font-size: 24px
}

// Debugging aid
.inspector:hover,
.inspector.shown {
    background-color: #eef;
    width: 20em;
    opacity: .7;
}

.inspector pre {
    position: absolute;
    bottom: 4ex;
    padding: 1ex;
    background-color: #fafaff;
}

.inspector {
    z-index: 1000;
    background-color: #fafaaa;
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: .1;
    color: #002;
    width: 1px;
    overflow: visible;
    margin: 5px;
    vertical-align: bottom;
    transition: width 1s, opacity 1s;
}

.disclaimer {
	position: relative;
	border-radius: 4pt;
	padding: 12pt;
	background-color: var(--mdc-theme-error);
  color: var(--mdc-theme-on-error);
	margin: 12pt 0pt;
}

.seedocs {
	position: fixed;
	top:0;
	right:0;
	margin: 12pt;
	background: white;
}

h1,h2 {
	color: var(--mdc-theme-primary)
}

.header {
	-webkit-box-align: stretch;
	box-align: stretch;
	-webkit-align-items: stretch;
	align-items: stretch;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-flex: 1;
	box-flex: 1;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	margin-bottom: 22px;
}

.header__container {
	background-color: rgb(205, 220, 57);
	margin-left: -32px;
	padding: 8px 8px 8px 32px;
	min-width: 0%;
}

.header__text {
	font-size: 24px;
	font-weight: 500;
  color: rgba(0, 0, 0, 1);
}

.header__after {
	-webkit-flex-shrink: 0;
	flex-shrink: 0;
	overflow: visible;
	position: relative;
	width: 18px;
	content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 10 10' preserveAspectRatio='none' style='height: 100%25; width: 90%25; overflow: visible; position: absolute;'%3E%3Cpolygon class='freebirdSolidFill' style='fill: rgb(205, 220, 57); stroke-width: 1; stroke:rgb(205, 220, 57);' points='0,0 10,0 0,10'%3E%3C/polygon%3E%3C/svg%3E");
}

.mdc-linear-progress
	height: 8px !important

.mdc-checkbox
	label
		cursor: pointer

.mdc-text-field-helper-line
	margin-bottom: 0.5rem

.wizard
	h2
		margin-top: 0
	.chooser
		padding: 16px 0
	.legalconsent
		padding-top: 16px

.steps
	flex-direction: column;
	position: relative;
	flex-grow: 1;
	overflow: hidden;
	.pageslider-page
		padding-top: 32px
		overflow-y: auto
		overflow-x: hidden
	.pageslider-page > .mdc-layout-grid
		box-shadow: 0px 1px 2px 0px rgba(60,64,67,0.3), 0px 2px 6px 2px rgba(60,64,67,0.15)
		background: #fff
		max-width: 800px
		margin: 0 auto
		margin-bottom: 2rem
		border-radius: 4px
		position: static
		padding: 2rem
		padding-bottom: 1.5rem
	.step__controls
		display: flex
		justify-content: space-between
		flex-direction: row-reverse
		margin-top: 1rem
		border-top: 1px solid rgba(0, 0, 0, 0.20)
		padding-top: 0.75rem
	.mdc-snackbar
		position: absolute
		.mdc-icon-button
			color: rgba(255, 255, 255, 0.87)
	.mdc-snackbar__surface
		background-color: var(--mdc-theme-error)
	.mdc-snackbar__label
		font-weight: 600

.steps.showall
	overflow-y: auto

.orange {
    color: var(--mdc-theme-secondary);
}

.red {
    color: var(--mdc-theme-error) !important;
}

.green {
    color: var(--mdc-theme-primary) !important;
}

.chooser
	.chooser__option
		cursor: pointer
		border: 2pt solid rgba(204,221,204,0.667) !important
		.mdc-form-field
			font-size: 1rem
		label
			cursor: pointer
	.choser__option__description
		font-size: 0.875rem
		padding: 5px 10px 3px

.fieldgroup
	border-radius: 4pt
	padding-bottom: 2ex
	padding: 8px 8px 18px
	border: 2pt solid rgba(204,221,204,0.667)
	background: rgba(204,221,204,0.133)
	.fieldgroup_title
		margin-top: 0
		margin-bottom: 12px
		padding: 0.5em 0.5em 0
	.field
		padding: 0 0.5em 0.3em
		.fieldname
			font-weight: 600
			color: var(--mdc-theme-primary)
			margin-right: 12px

.special_cases_page
	.special_cases__question
		font-size: 110%
		font-weight: bold
		color: #234
		margin-bottom: 16px
	.special_case__reason
		cursor: pointer
		border: 2pt solid rgba(204,221,204,0.333)
		border-radius: 10px
		padding: 10px
		&:not(.special_case__reason--disabled):hover
			border: 2pt solid #cdc
		label
			font-size: 1rem
			cursor: pointer
		.uploader label
			font-size: 12px
	.special_case__reason--selected
		border: 2pt solid rgba(204,221,204,0.667)
		background: #e3eb93
	.special_case__reason--disabled
		cursor: not-allowed
		label
			cursor: not-allowed
	.special_case__lbl
		width: 100%
		padding: 10px
	.special_case__description
		font-size: 0.875rem
		padding: 5px 10px 0
		p
			margin: 10px 0 0
			padding-left: 11px
		b
			font-weight: 500
			color: #234
			margin-right: 5px

.review
	.fieldgroup
		background: #F1F5C9
		border-radius: 4px
		border: 2pt solid #F1F5C9
		.fieldgroup_title
			text-transform: uppercase
			font-size: 16px
		.fieldname
			font-weight: 600
			text-transform: uppercase
			font-size: 12px
			color: #515811
			margin-right: 8px

.success_page
.error_page
	h2
		margin-top: 36px
	.cuca
		width: 40%
		margin: 8%
	text-align: center
	margin-top: 32px

.error
	font-weight: bold
	color: var(--mdc-theme-error);
	padding: 2em

.mdc-notched-outline__notch {
  /* Ignore the width set by script, and change it to be calculated from the width of `mdc-floating-label` by setting `auto`. */
  width: auto !important;
}

.mdc-notched-outline__notch > label.mdc-floating-label--float-above {
  /* Remove `scale(0.75)` to apply the correct width to `mdc-notched-outline__notch`. */
  transform: translateY(-130%);

  /* Calculate `scale(0.75)` with each property. */
  font-size: calc(1rem * 0.75);
  top: calc(17px * (1 - ((1 - 0.75) / 2)));
}

/* with leading-icon */
.mdc-text-field--with-leading-icon .mdc-notched-outline__notch > label.mdc-floating-label--float-above {
  transform: translateY(-130%) translateX(-32px);
  font-size: calc(1rem * 0.75); /* Re-apply the above selector because the score is low. */
}

.mdc-notched-outline__notch > label.mdc-floating-label {
  transition:
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    color 150ms cubic-bezier(0.4, 0, 0.2, 1),
    /* Now that we calculate `scale(0.75)` for each property, we add each property to the target of the animation. */
    font-size 150ms cubic-bezier(0.4, 0, 0.2, 1),
    top 150ms cubic-bezier(0.4, 0, 0.2, 1);
}